In [1]:
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os
import numpy as np

In [2]:
load_dotenv()
engine = create_engine(f"mysql+mysqlconnector://{os.getenv('MYSQL_USER')}:{os.getenv('MYSQL_PASS')}@localhost/stock_data")

In [3]:
query = '''
SELECT fd.record_date, fd.close_price, COALESCE(ds.sentiment_score, 0) AS score
FROM financial_data AS fd
LEFT JOIN date_score AS ds
ON fd.record_date = ds.date;
'''

In [4]:
df = pd.read_sql(query, engine)

In [5]:
df

     record_date  close_price   score
0     2014-09-09      39.9807  0.0000
1     2014-09-10      40.0491  0.4389
2     2014-09-11      40.1859  0.0000
3     2014-09-12      39.9294  0.0000
4     2014-09-15      39.5361  0.0000
...          ...          ...     ...
2512  2024-09-03     409.4400  0.0000
2513  2024-09-04     408.9000  0.0000
2514  2024-09-05     408.3900  0.0000
2515  2024-09-06     401.7000  0.0000
2516  2024-09-09     403.4100  0.0000

[2517 rows x 3 columns]

In [6]:
# add lagged prices as features
df['lag_1'] = df['close_price'].shift(1)
df['lag_2'] = df['close_price'].shift(2)

In [7]:
# add price returns
df['daily_return'] = df['close_price'].pct_change(1)
df['log_return'] = np.log(df['close_price'] / df['close_price'].shift(1))

In [8]:
# add volatility

In [9]:
# add moving average and exponential moving average
df['ma_10'] = df['close_price'].rolling(window=10).mean()
df['ema_10'] = df['close_price'].ewm(span=10, adjust=False).mean()

In [10]:
def compute_rsi(data, window=14):
    delta = data.diff(1)
    gain = delta.where(delta > 0, 0.0)
    loss = delta.where(delta < 0, 0.0)
    avg_gain = gain.rolling(window=window, min_periods=1).mean()
    avg_loss = loss.rolling(window=window, min_periods=1).mean()
    rs = avg_gain / avg_loss
    rsi = 100 - (100 / (1 + rs))
    return rsi

df['rsi_14'] = compute_rsi(df['close_price'], window=14)

In [11]:
df['std_10'] = df['close_price'].rolling(window=10).std()

df['bollinger_upper'] = df['ma_10'] + (df['std_10']*2)
df['bollinger_lower'] = df['ma_10'] - (df['std_10']*2)

In [12]:
df

,record_date,close_price,score,lag_1,lag_2,daily_return,log_return,volatility_14,ma_10,ema_10,rsi_14,std_10,bollinger_upper,bollinger_lower
0,2014-09-09,39.9807,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,39.980700,NaN,NaN,NaN,NaN
1,2014-09-10,40.0491,0.4389,39.9807,NaN,0.001711,0.001709,NaN,NaN,39.993136,100.000000,NaN,NaN,NaN
2,2014-09-11,40.1859,0.0000,40.0491,39.9807,0.003416,0.003410,NaN,NaN,40.028184,100.000000,NaN,NaN,NaN
3,2014-09-12,39.9294,0.0000,40.1859,40.0491,-0.006383,-0.006403,NaN,NaN,40.010224,-400.000000,NaN,NaN,NaN
4,2014-09-15,39.5361,0.0000,39.9294,40.1859,-0.009850,-0.009899,NaN,NaN,39.924019,-46.153846,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2512,2024-09-03,409.4400,0.0000,417.1400,413.1200,-0.018459,-0.018632,0.010197,415.891,414.195644,-581.045752,5.133341,426.157682,405.624318
2513,2024-09-04,408.9000,0.0000,409.4400,417.1400,-0.001319,-0.001320,0.009966,414.301,413.232800,-268.793343,4.489290,423.279579,405.322421
2514,2024-09-05,408.3900,0.0000,408.9000,409.4400,-0.001247,-0.001248,0.009238,412.726,412.352291,-114.398734,3.243990,419.213980,406.238020
2515,2024-09-06,401.7000,0.0000,408.3900,408.9000,-0.016381,-0.016517,0.009958,411.341,410.415511,-86.225403,4.584111,420.509223,402.172777
2516,2024-09-09,403.4100,0.0000,401.7000,408.3900,0.004257,0.004248,0.009749,410.003,409.141781,-72.350993,4.766007,419.535014,400.470986

In [13]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [14]:
df = df.dropna()

In [15]:
df

,record_date,close_price,score,lag_1,lag_2,daily_return,log_return,volatility_14,ma_10,ema_10,rsi_14,std_10,bollinger_upper,bollinger_lower
14,2014-09-29,39.7071,0.0,39.6814,39.3651,0.000648,0.000647,0.010822,39.93538,39.859194,-837.500000,0.359286,40.653952,39.216808
15,2014-09-30,39.6387,0.0,39.7071,39.6814,-0.001723,-0.001724,0.010808,39.90118,39.819104,-541.666667,0.370592,40.642364,39.159996
16,2014-10-01,39.2454,0.0,39.6387,39.7071,-0.009922,-0.009972,0.011005,39.84817,39.714794,-221.818182,0.424552,40.697274,38.999066
17,2014-10-02,39.1257,0.0,39.2454,39.6387,-0.003050,-0.003055,0.010930,39.76951,39.607686,-259.574468,0.480529,40.730568,38.808452
18,2014-10-03,39.4078,0.0,39.1257,39.2454,0.007210,0.007184,0.010866,39.64724,39.571343,-1845.908028,0.382710,40.412661,38.881819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2512,2024-09-03,409.4400,0.0,417.1400,413.1200,-0.018459,-0.018632,0.010197,415.89100,414.195644,-581.045752,5.133341,426.157682,405.624318
2513,2024-09-04,408.9000,0.0,409.4400,417.1400,-0.001319,-0.001320,0.009966,414.30100,413.232800,-268.793343,4.489290,423.279579,405.322421
2514,2024-09-05,408.3900,0.0,408.9000,409.4400,-0.001247,-0.001248,0.009238,412.72600,412.352291,-114.398734,3.243990,419.213980,406.238020
2515,2024-09-06,401.7000,0.0,408.3900,408.9000,-0.016381,-0.016517,0.009958,411.34100,410.415511,-86.225403,4.584111,420.509223,402.172777
2516,2024-09-09,403.4100,0.0,401.7000,408.3900,0.004257,0.004248,0.009749,410.00300,409.141781,-72.350993,4.766007,419.535014,400.470986

In [16]:
df.to_sql(name='time_series_data', con=engine, if_exists='replace', index=False)

2502